body{
    margin: 0;
    background-color: black;
}
#maincontainer{
    padding: 10px 10px;
}
#subcontainer{
    background-color: aquamarine;
    text-align: center;
    margin:auto;
    border-radius: 30px;
    width: 375px;
    height: 325px;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 5px 5px 4px rgb(91, 166, 141), -5px -5px 5px white;
    font-family: 'Courier New', Courier, monospace;
}
#menuButton{
    border:none;
    border-radius: 30px;
    background-color: rgb(11, 11, 11);
    margin-left: 300px;
    color:white;
    padding: 10px 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
#header1{
    text-decoration: underline black;
    font-size: 1.99em;
    margin-bottom: 80px;
    font-family: 'Courier New', Courier, monospace;
}
#startButton{
    padding: 10px 20px;
    background-color: rgb(36, 3, 112);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
#continueButton{
    padding: 10px 8px;
    background-color: rgb(36, 3, 112);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;

}
#imga{
    height:100px;
}
#levcontainer{
    text-align: center;
}
#levheader{
    color:white;
    text-decoration: underline wheat;
    font-style: italic;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(191, 186, 186);
    transition: color 0.5s ease-out;
}

.level{
    text-align: center;
    font-size: 3em;
    width: 80px;
    height: 60px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: aqua;
    transition: background-color 0.6s ease-in;
    animation-name: slide-in, slide-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  @keyframes slide-out {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  